<template>
  <div class="wrapper-content  wrapper-content--fixed">
    <section>
      <div class="container">
        <h1>UsersCRM Page</h1>
        <table>
          <thead>
            <tr>
              <th>Img</th>
              <th @click="sort('name')">Name &#8595;</th>
              <th @click="sort('email')">Email &#8595;</th>
              <th @click="sort('phone')">Phone &#8595;</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in usersSort" :key="user.id">
              <td>
                <img :src="user.img" :alt="user.id" />
              </td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
            </tr>
          </tbody>
        </table>
        <p style="text-align: center">
          <span>debug: sort: {{ currentSort }}, sort: {{ currentSortDir }}</span>
          <br>
          <span>page: {{ page.current }}, length: {{ this.page.length }}</span>
        </p>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="button-list">
          <div class="btn btnPrimary" @click="prevPage">&#8592;</div>
          <div class="btn btnPrimary" @click="nextPage">&#8594;</div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      users: [],
      currentSort: 'name',
      currentSortDir: 'asc',
      page: {
        current: 1,
        length: 4,
      },
    };
  },
  created() {
    this.users = axios
      .get("https://randomuser.me/api/?results=15")
      .then((response) => {
        this.users = response.data.results.map((user, index) => {
          return {
            id: index,
            name: user.name.first + " " + user.name.last,
            email: user.email,
            phone: user.cell,
            img: user.picture.thumbnail,
          };
        });
      })
      .catch((error) => {
        // console.error(error);
      });
  },
  computed: {
    usersSort() {
      if(this.users.length > 0)
      return this.users
      .sort((a, b) => {
        let mod = 1
        if (this.currentSortDir == 'desc') mod = -1
        if (a[this.currentSort] < b[this.currentSort]) return -1 * mod
        if (a[this.currentSort] > b[this.currentSort]) return 1 * mod
        return 0
      })
      .filter((row, index) => {
        let start = (this.page.current - 1) * this.page.length
        let end = this.page.current * this.page.length
        if(index >= start && index < end) return true
      })
    }
  },
  methods: {
    sort(e) {
      if (e === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc";
      }
      this.currentSort = e;
    },
    prevPage() {
       if (this.page.current > 1) {
        this.page.current = (this.page.current - 1);
      }
    },
    nextPage() {
     if ((this.page.current * this.page.length) < this.users.length) {
        this.page.current = (this.page.current + 1);
      }
    }
  },
};
</script>

<style lang="scss">
img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  margin-right: 16px;
}
.button-list {
  width: 100%;
  text-align: center;
  .btn {
    border-radius: 60px;
    margin: 0 20px;
  }
}
</style>
