<template>
  <div class="wrapper wrapper-content  wrapper-content--fixed">
    <header>
      <Navbar :items="items" />
    </header>
    <router-view></router-view>
  </div>
</template>

<script>
import menu from "@/data/menu.json";
import Navbar from "./components/Nav/Navbar.vue";
import { getNotifyLazy } from "@/js/getNotify";

export default {
  name: "App",
  components: {
    Navbar,
  },
  data() {
    return {
      items: menu,
    };
  },
  created() {
    this.initialize();
  },
  methods: {
    initialize() {
      getNotifyLazy();
    },
  },
};
</script>
