<template>
  <div class="wrapper">
    <div class="wrapper-content">
      <section>
        <div class="container">
          <div id="app">
            <Message v-if="message" :message="message" />
            <hr />
            <SelectStatusMessage
              :setStatus="selectedStatus"
              @changeStatus="changeStatus"
            />
            <!-- :setStatus="selectedStatus" -->
            <NewNote :note="note" @addNote="addNote" />
            <hr />
            <div class="note-header" style="margin: 36px 0;">
              <h1>{{ title }}</h1>
              <Search :value="search" @search="handleSearch" />
              <div class="icons">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  :class="{ active: grid }"
                  @click="grid = true"
                  style="cursor: pointer;"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <rect x="3" y="3" width="7" height="7"></rect>
                  <rect x="14" y="3" width="7" height="7"></rect>
                  <rect x="14" y="14" width="7" height="7"></rect>
                  <rect x="3" y="14" width="7" height="7"></rect>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  :class="{ active: !grid }"
                  @click="grid = false"
                  style="cursor: pointer;"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <line x1="8" y1="6" x2="21" y2="6"></line>
                  <line x1="8" y1="12" x2="21" y2="12"></line>
                  <line x1="8" y1="18" x2="21" y2="18"></line>
                  <line x1="3" y1="6" x2="3" y2="6"></line>
                  <line x1="3" y1="12" x2="3" y2="12"></line>
                  <line x1="3" y1="18" x2="3" y2="18"></line>
                </svg>
              </div>
            </div>
            <Notes :notes="notesFiltered" :grid="grid" @remove="removeNote" />
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Message from "@/components/Message.vue";
import NewNote from "@/components/NewNote.vue";
import Notes from "@/components/Notes.vue";
import Search from "@/components/Search.vue";
import SelectStatusMessage from "@/components/SelectStatusMessage.vue";
import seedNotes from "@/data/seedNotes.json";

export default {
  components: {
    Message,
    NewNote,
    Notes,
    Search,
    SelectStatusMessage,
  },
  data() {
    return {
      title: "Notes App",
      message: "",
      search: "",
      grid: true,
      notePriorityColor: [
              "normal",
              "warning",
              "danger"
              ],
      note: {
        title: "",
        description: "",
        status: 0,
      },
      notes: seedNotes,
      selectedStatus: 0,
    };
  },
  computed: {
    notesFiltered() {
      const search = this.search.trim().toLowerCase();
      const array = this.notes;
      return search
        ? array.filter(
            (item) => item.title.toLowerCase().indexOf(search) !== -1
          )
        : array;
    },
  },
  methods: {
    resetParams() {
      this.note.title = "";
      this.note.description = "";
      this.selectedStatus = 0;
    },
    changeStatus(status) {
      this.selectedStatus = status;
    },
    addNote() {
      this.message =
        this.note.title == "" || this.note.description == ""
          ? "Заголовок/Содержание не должно быть пустым"
          : null;
      if (!this.message) {
        this.notes.push({
          title: this.note.title,
          description: this.note.description,
          prority: this.notePriorityColor[this.selectedStatus],
          date: new Date(Date.now()).toLocaleString(),
        });
      }
      this.resetParams();
    },
    removeNote(index) {
      this.notes.splice(index, 1);
    },
    handleSearch(searchString) {
      this.search = searchString;
    },
  },
};
</script>
