<template>
    <div class="navbar">
       <div class="container">
        <div class="navbar-content">
          <div class="logo">NOTIFY</div>
          <ul class="navbar-list">
            <li class="navbar-item" v-for="(item, index) in items" :key="index">
              <router-link class="navbar-link" :to="item.url">{{ item.title }}</router-link>
            </li>
          </ul>
        </div>
       </div>
     </div>
</template>

<script>

export default {
    name: 'Navbar',
    props: {
        items: {
            type: Array,
            required: true,
        },
  },
}
</script>

<style lang="scss">
.navbar-link {
  &.router-link-exact-active {
    color: #5247e7;
  }
}
</style>