<template>
  <div class="wrapper-content wrapper-content--fixed">
    <post :post="post" />
    <comments :comments="comments" />
    <newComment :postId="$route.params.id" />
  </div>
</template>

<script>
const baseDomain = "https://blog-nuxt-59e6b-default-rtdb.firebaseio.com/";
import axios from "axios";
import Post from "~/components/Blog/Post.vue";
import Comments from "~/components/Comments/Comments.vue";
import NewComment from "~/components/Comments/NewComment.vue";
export default {
  components: { Post, NewComment, Comments },
  head() {
    const title = this.post.title,
      descr = this.post.descr,
      img = this.post.img,
      type = "article";
    return {
      title: title,
      meta: [
        { hid: "og:title", name: "og:title", content: title },
        { hid: "og:description", name: "og:description", content: descr },
        { hid: "description", name: "description", content: descr },
        { hid: "og:type", name: "og:type", content: type },
        { hid: "og:img", name: "og:img", content: img },
      ],
    };
  },
  async asyncData(context) {
    const id = context.params.id;
    let [post, comments] = await Promise.all([
      axios.get(baseDomain + `posts/${id}.json`),
      axios.get(baseDomain + `comments.json`),
    ]);
    const filteredCommentsArray = Object.values(comments.data).filter(
      (comment) => comment.postId == id && comment.publish == true
    );
    return {
      post: post.data,
      comments: filteredCommentsArray,
    };
  },
};
</script>

<style lang="scss">
.post {
  max-width: 900px;
  margin: 0 auto;
}
.post-header {
  text-align: center;
  margin-bottom: 30px;
  img {
    max-width: 400px;
    margin-bottom: 16px;
  }
  p {
    color: #999;
  }
}
.post-body {
  text-align: left;
}
</style>
