<template>
  <div style="width: 650px; margin: 0 auto; border: 1px solid cyan">
    <div style="text-align: left; padding-left: 15px; padding-bottom: 20px">
      <h2>Вопрос {{ q[currentQ].id + " из " + q.length }}</h2>
      <h3>{{ q[currentQ].title }}</h3>
      <p>{{ q[currentQ].descr }}</p>
      <div v-for="(item, index) in q[currentQ].options" :key="index">
        <input
          type="radio"
          :id="item.id"
          :value="item.title"
          :name="q[currentQ].id"
          v-model="selectedA"
          @change="onChange"
        />
        <label :for="item.id">{{ item.title }}</label>
      </div>
      <br />
      <div id="pager">
        <button
          id="prev"
          :disabled="currentQ == 0 ? true : false"
          @click="onClick"
        >
          <<
        </button>
        <button
          id="next"
          :disabled="currentQ == q.length - 1 ? true : false"
          @click="onClick"
          style="margin-left: 20px"
        >
          >>
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import dataQA from "@/data/qa.json";

export default {
  name: "Questions.vue",
  data() {
    return {
      q: [],
      currentQ: 0,
      selectedA: 0,
    };
  },
  methods: {
    onChange() {
      console.log(
        `Ваш выбор: Вопрос ${this.currentQ}, Ответ ${this.selectedA}`
      );
    },
    onClick(event) {
      if (event.target.id == "next" && this.currentQ < this.q.length - 1) {
        this.currentQ = this.currentQ + 1;
      }
      if (event.target.id == "prev" && this.currentQ > 0) {
        this.currentQ = this.currentQ - 1;
      }
      this.selectedA = 0;
    },
  },
  async created() {
    this.q = dataQA;
  },
};
</script>