<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div class="wrapper">
      <div id="app">
        <h1>{{title}}</h1>
        <form @submit.prevent="onSubmit">
          <input
            type="text"
            required
            v-model="input.value"
            :placeholder="input.placeholder"
          />
          <button type="submit">Add new note</button>
        </form>
        <div class="notes">
          <div class="note" v-for="(note, index) in notes" :key="index">
            <p>
              <span @click="remove(index)">&#10005;</span>
              {{note}}
            </p>
          </div>
        </div>
        <hr style="margin-top: 10px" />
      </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
