<template>
  <div class="">
    <section>
      <div class="container">
        <div class="notify__wraper">
          <div class="notify-title">
            <h1>{{ pageTitle }}</h1>
            <NotifyUpdate />
          </div>
          <div class="notify__content">
            <Preloader v-if="loading" :width="90" :height="90" />
            <Error :error="error" />
            <NotifyTable v-if="!loading && !error" :messages="messages" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import NotifyTable from "@/components/Notify/NotifyTable.vue";
import NotifyUpdate from "@/components/Notify/NotifyUpdate.vue";
import Error from "@/components/Error/Error.vue";
import { getError } from "@/js/error";
import { getLoading } from "@/js/loading";
import { getMainMessages } from "@/js/message";
import Preloader from "@/components/UI/Preloader.vue";

export default {
  components: {
    NotifyTable,
    NotifyUpdate,
    Error,
    Preloader,
  },
  props: {
    pageTitle: {
      type: String,
      default: "Notify App",
    },
  },
  computed: {
    messages: () => getMainMessages(),
    loading: () => getLoading(),
    error: () => getError(),
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.notify__wraper {
  width: 45vw;
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.3);
}
.notify__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
}
.notify-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 24px;
  }
}
</style>
