<template>
  <div class="md-body">
    <h1>Home</h1>
    <p>Edit me</p>
    <div class="card__wrapper" v-for="item in items" :key="item.id">
      <app-card :name="`${item.lvl}`" :title="item.title" :imgUrl="item.img">
        <template v-slot:body>
          {{ item.descr }}
        </template>
      </app-card>
    </div>
  </div>
</template>
<script>
import Card from '@/components/UI/Card.vue'
import items from '@/seeders/items.js'
//require("@/assets/img/468x60_archer.png"),
//require("@/assets/img/468x60_wizard.png"),
export default {
  components: {
    AppCard: Card
  },
  data() {
    return {
      items: items
    }
  }
}
</script>
