<template>
    <div class="message">
        <p>{{ message }}</p>
    </div>
</template>
<script>
export default {
    props: {
        message: {
            type: String,
            required: true,
            default: ''
        },
    }
}
</script>

<style lang="scss" scoped>
    p {
        color: rgb(163, 20, 20)
    }
    .message {
        text-align: center;
        padding: 20px;
    }
</style>