<template>
  <div class="flex-block">
    <div class="flex-block" style="margin-left: auto;">
      <div
        style="margin: 0 5px"
        v-for="(item, index) in priorityArray"
        :key="index"
      >
        <input
          type="radio"
          :id="item.name"
          :value="item.value"
          v-model="selectedStatus"
          @change="changeStatus"
        />
        <label :for="item.name" >{{
          item.name
        }}</label>
      </div>
    </div>
  </div>
</template>
<script>
import priorityData from '@/data/priorityData.json';

export default {
  props: {
    setStatus: {
      type: Number,
      default: 0,
    },
  },
  watch: {
    setStatus(val) {
      this.selectedStatus = val;
    },
  },
  data() {
    return {
      selectedStatus: 0,
      priorityArray: priorityData,
    };
  },
  methods: {
    changeStatus() {
      this.$emit("changeStatus", this.selectedStatus);
    },
  },
};
</script>
<style lang="scss" scoped>
@import "@/assets/scss/utils/vars.scss";
.normal {
  color: $light-color;
}
.warning {
  color: $warning-color;
}
.danger {
  color: $danger-color;
}
</style>
