<template>
  <header>
    <div class="navbar">
      <div class="container">
        <div class="navbar-content">
          <div class="logo"><nuxt-link to="/">First Nuxt Blog</nuxt-link></div>
          <ul class="navbar-list">
            <li class="navbar-item" v-for="(link, index) in links" :key="index">
              <nuxt-link class="navbar-link" :to="link.url">{{
                link.title
              }}</nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
export default {
  data() {
    return {
      links: [
        { title: "Blog", url: "/blog" },
        { title: "About", url: "/about" },
      ],
    };
  },
};
</script>

<style lang="scss">
.logo a {
  color: #333;
  font-weight: 900;
}
.navbar-link {
  &.nuxt-link-exact-active {
    color: #4165de;
  }
}
</style>