<template>
  <client-only>
    <commentTable
      :thead="['Name', 'Text', 'Current Status', 'Change Status', 'Delete']"
      ><tbody slot="tbody">
        <tr v-for="comment in comments" :key="comment.id">
          <td>
            <span>{{ comment.name }}</span>
          </td>
          <td>
            <span>{{ comment.text }}</span>
          </td>
          <td>
            <span v-if="comment.publish" class="status true">Published</span>
            <span v-else class="status false">Hidden</span>
          </td>
          <td>
            <span @click="changeStatus(comment)" class="link">Change</span>
          </td>
          <td>
            <span @click="deleteComment(comment.id)" class="link">Delete</span>
          </td>
        </tr>
      </tbody>
    </commentTable>
  </client-only>
</template>
<script>
import axios from "axios";
import commentTable from "~/components/admin/CommentTable";
const baseDomain = "https://blog-nuxt-59e6b-default-rtdb.firebaseio.com/";
export default {
  components: { commentTable },
  layout: "admin",
  mounted() {
    this.loadComments();
  },
  methods: {
    changeStatus(comment) {
      comment.publish = !comment.publish;
      axios.put(baseDomain + `comments/${comment.id}.json`, comment);
    },
    deleteComment(id) {
      axios.delete(baseDomain + `comments/${id}.json`).then((response) => {
        this.loadComments();
      });
    },
    loadComments() {
      axios.get(baseDomain + "comments.json").then((response) => {
        const result = Object.entries(response.data).map(([name, comment]) => ({
          id: name,
          ...comment,
        }));
        this.comments = [...result];
      });
    },
  },
  data() {
    return {
      comments: [],
    };
  },
};
</script>