<template>
  <div class="flex-block">
    <div class="flex-block" style="margin-left: auto;">
      <div
        style="margin: 0 5px"
        v-for="(item, index) in statusArray"
        :key="index"
      >
        <input
          type="radio"
          :id="item.name"
          :value="item.value"
          v-model="selectedStatus"
          @change="changeStatus($event)"
        />
        <label class="status-normal-color">{{ item.name }}</label>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    setStatus: {
      type: Number,
      required: true,
      default: 0,
    },
  },
  watch: {
    setStatus(val) {
      this.selectedStatus = val;
    },
  },
  data() {
    return {
      selectedStatus: 0,
      statusArray: [
        {
          value: 0,
          name: "Normal",
        },
        {
          value: 1,
          name: "Warning",
        },
        {
          value: 2,
          name: "Danger",
        },
      ],
    };
  },
  methods: {
    changeStatus($event) {
      this.$emit("changeStatus", this.selectedStatus);
    },
  },
};
</script>
<style lang="scss" scoped>
@import "@/assets/scss/utils/vars.scss";
.status-normal-color {
  color: $light-color;
}
.status-warning-color {
  color: $warning-color;
}
.status-danger-color {
  color: $danger-color;
}
</style>
