<template>
  <section class="new-post">
    <div class="container">
      <form @submit.prevent="">
        <AppInput v-model="post.title">Title: </AppInput>
        <AppInput v-model="post.descr">Descr: </AppInput>
        <AppInput v-model="post.img">Img link: </AppInput>
        <AppTextArea v-model="post.content">Content: </AppTextArea>
        <div class="controls">
          <AppButton @click="onCancel" class="btnDanger">Cancel</AppButton>
          <AppButton @click="onSubmit">Save</AppButton>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  name: "NewPostForm",
  props: {
    postEdit: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      postDefault: {
        title: "",
        descr: "",
        img: "",
        content: "",
      },
      post: this.postEdit ? { ...this.postEdit } : { ...this.postDefault },
    };
  },
  methods: {
    onSubmit() {
      this.$emit("submit", this.post);
    },
    onCancel() {
      this.$router.push("/admin/");
    },
  },
};
</script>
<style lang="scss">
.controls {
  text-align: center;
  margin: 20px 0;
}
</style>