<template>
  <section class="new-comment">
    <div class="container">
      <h2 class="title">New comment</h2>
      <Message v-if="message" :message="message" />
      <form @submit.prevent="onSubmit" class="contact-form">
        <AppInput v-model="comment.name">Name: </AppInput>
        <AppTextArea v-model="comment.text">Text: </AppTextArea>

        <!-- buttons -->
        <div class="controls">
          <AppButton>Submit</AppButton>
        </div>
      </form>
    </div>
  </section>
</template>
<script>
export default {
  components: {},
  name: "NewComment",
  props: {
    postId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      message: null,
      comment: {
        name: "",
        text: "",
      },
      commentDefault: {
        name: "",
        text: "",
      },
    };
  },
  methods: {
    onSubmit() {
      this.$store
        .dispatch("addComment", {
          postId: this.postId,
          publish: false,
          ...this.comment,
        })
        .then(() => {
          this.resetComment();
          this.message = "Submited!";
        })
        .catch((e) => console.log(e));
    },
    resetComment() {
      this.comment = { ...this.commentDefault };
    },
  },
};
</script>

<style lang="scss">
.new-comment {
  text-align: center;
  color: fff;
  .title {
    color: #000;
  }
  .contact-form {
    min-width: 600px;
    margin: 30px auto;
  }
  .controls {
    margin: 30px 0;
  }
}
</style>