<template>
    <Modal :title="authFormTitle" @close="closeForm">
        <!-- body -->
        <div slot="body">
            <SelectAuthAction :setAction="selectedAction" @changeAuthAction="changeAuthAction"/>
            <RegisterForm v-if="showForm == authForm.Register" @close="closeForm"/>
            <LoginForm v-if="showForm == authForm.Login" @close="closeForm"/>
        </div>
    </Modal>
</template>

<script>
import Modal from '@/components/UI/Modal.vue'
import RegisterForm from '@/components/Auth/RegisterForm.vue'
import LoginForm from '@/components/Auth/LoginForm.vue'
import SelectAuthAction from '@/components/Auth/SelectAuthAction.vue';

export default {
    components: {
        Modal,
        RegisterForm,
        LoginForm,
        SelectAuthAction
    },
    data() {
        return {
            authForm: {
                Login: true,
                Register: false
            },
            showForm: false,
            selectedAction: 1,
        }
    },
    created() {
        this.showForm = this.authForm.Register;
    },
    computed: {
        authFormTitle() {
            return this.showForm === this.authForm.Login ? 'Авторизация' : 'Регистрация';
        }
    },
    methods: {
        closeForm() {
            this.$emit('close')
        },
        changeAuthAction($event) {
            this.selectedAction = $event;
            this.showForm = ! this.showForm;
        },
    }
}
</script>

<style lang="scss">
@import '@/assets/scss/utils/vars.scss';
.form-item .errorText {
    display: none;
    margin-bottom: 8px;
    font-size: 13.4px;
    color: $danger-color ;
}
.form-item {
    &.errorInput .errorText {
        display: block;
    }
}
input.error {
    border-color: $danger-color;
}
.labelItem {
    text-align: left;
    margin-left: 3px;
    color: $light-color;
    font-size: 12px;
}
.flex-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
}
</style>