<template>
    <form action="" @submit.prevent="onSubmit">
                <div
                    class="form-item"
                    :class="{ errorInput: $v.currentForm.login.$error }"
                >
                    <label class="labelItem">Login:</label>
                    <p class="errorText" v-if="!$v.currentForm.login.required">Field is required!</p>
                    <p class="errorText" v-if="!$v.currentForm.login.minLength">Minimal length {{ $v.currentForm.login.$params.minLength.min }}!</p>
                    <input
                        v-model="currentForm.login"
                        :class="{ error: $v.currentForm.login.$error }"
                        @change="$v.currentForm.login.$touch()"
                    />
                </div>
                <div
                    class="form-item"
                    :class="{ errorInput: $v.currentForm.email.$error}"
                >
                    <label class="labelItem">Email:</label>
                    <p class="errorText" v-if="!$v.currentForm.email.required">Field is required!</p>
                    <p class="errorText" v-if="!$v.currentForm.email.email">Must be correct Email!</p>
                     <input
                        v-model="currentForm.email"
                        :class="{ error: $v.currentForm.email.$error }"
                        @change="$v.currentForm.email.$touch()"
                    />
                </div>
                <div
                    class="form-item"
                    :class="{ errorInput: $v.currentForm.password.$error}"
                >
                    <label class="labelItem">Password:</label>
                    <p class="errorText" v-if="!$v.currentForm.password.required">Field is required!</p>
                    <p class="errorText" v-if="!$v.currentForm.password.minLength">Minimal length {{ $v.currentForm.password.$params.minLength.min }}!</p>
                     <input
                        v-model="currentForm.password"
                        :class="{ error: $v.currentForm.password.$error }"
                        @change="$v.currentForm.password.$touch()"
                    />
                </div>
                <div
                    class="form-item"
                    :class="{ errorInput: $v.currentForm.confirmpassword.$error}"
                >
                    <label class="labelItem">Confirm password:</label>
                    <p class="errorText" v-if="!$v.currentForm.confirmpassword.required">Field is required!</p>
                    <p class="errorText" v-if="!$v.currentForm.confirmpassword.sameAs">Passwords must match!</p>
                     <input
                        v-model="currentForm.confirmpassword"
                        :class="{ error: $v.currentForm.confirmpassword.$error }"
                        @change="$v.currentForm.confirmpassword.$touch()"
                    />
                </div>
                <hr>
                <button class="btn btnPrimary">Submit</button>
            </form>
</template>
<script>
import { required, minLength, sameAs, email } from 'vuelidate/lib/validators'
import { PASSWORD_LENGTH as passwordLength, NAME_LENGTH as nameLength} from '@/Constants/Constants.js'

export default {
    components: {
    },
    data() {
        return {
            currentForm: {
                login: '',
                email: '',
                password: '',
                confirmpassword: '',
            },
            defaultForm: {
                login: '',
                email: '',
                password: '',
                confirmpassword: '',
            }
        }
    },
    validations: {
        currentForm: {
            login: {
                required,
                minLength: minLength(nameLength)
            },
            password: {
                required,
                minLength: minLength(passwordLength)
            },
            confirmpassword: {
                sameAsPassword: sameAs('password')
            },
            email: {
                required,
                email
            }
        },
    },
    methods: {
        onSubmit() {
            this.$v.$touch();
            if(!this.$v.$invalid){
                this.sendData();
            }
            this.resetForm();
            this.closeForm()
        },
        resetForm() {
            this.currentForm = { ...this.defaultForm }
            this.$v.$reset();
        },
        closeForm() {
            this.$emit('close')
        },
        sendData() {
            const data = {
                Action: 'Register',
                Data: { ...this.currentForm }
            }
            console.log('Введенные данные: ', data)
        }
    }
}
</script>