.tweet-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tweet-menu {
  width: 200px;
}



.btnTweet {
  display: flex;
  justify-content: center;
  background-color: #6584f1;
  border: 1px solid #6584f1;
  box-shadow: 0 5px 15px rgba(101, 132, 241, 0.7);
  color: #ffffff;
  height: 44px;
  text-transform: uppercase;
}

.btnTweetHome {
  position: fixed;
  text-align: center;
  bottom: calc(20px + 160px);
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  max-width: 400px;
  width: calc(100% - 600px) !important;
  transition: all 300ms ease-out;

  @media screen and (max-width: 768px) {
    width: 60% !important;
  }
}