<template>
  <div v-if="isLoading">
    <spinner />
  </div>
  <div v-else>
    <div class="tweet-menu-wrapper">
      <div class="tweet-menu">
        <select v-model="sortBy" name="sortBy">
          <option value="date">Date</option>
          <option value="likes">Likes</option>
        </select>
      </div>
    </div>
    <div class="tweets__wrapper" v-for="item in dataSortered" :key="item.id">
      <tweet
        :id="item.id"
        :likes="item.likes"
        :name="item.date"
        :imgUrl="item.avatar"
      >
        {{ item.body }}
      </tweet>
    </div>

    <button @click="handleModal" class="btn btnPrimary btnTweet btnTweetHome">
      Open Modal
    </button>
    <modal v-if="showModal" @onClose="handleModal">Modal Content</modal>
  </div>
</template>
<script>
import { ref, computed } from "vue";
import Spinner from "@/components/UI/Spinner.vue";
import Modal from "@/components/UI/Modal.vue";
import Tweet from "@/components/UI/Tweet.vue";
export default {
  components: {
    Spinner,
    Modal,
    Tweet,
  },
  setup() {
    const data = [
      {
        id: 1,
        body: "hello world",
        avatar:
          "https://tocode.ru/static/_secret/bonuses/1/avatar-1Tq9kaAql.png",
        likes: 10,
        date: "10-04-2021",
      },
      {
        id: 2,
        body: "hello world",
        avatar:
          "https://tocode.ru/static/_secret/bonuses/1/avatar-1Tq9kaAql.png",
        likes: 21,
        date: "14-04-2021",
      },
      {
        id: 2,
        body: "hello world",
        avatar:
          "https://tocode.ru/static/_secret/bonuses/1/avatar-1Tq9kaAql.png",
        likes: 18,
        date: "18-04-2021",
      },
    ];
    const sortBy = ref("date");
    const dataSortered = computed(() => {
      return [...data].sort((a, b) => {
        if (a[sortBy.value] < b[sortBy.value]) return 1;
        if (a[sortBy.value] > b[sortBy.value]) return -1;
      });
    });
    const isLoading = ref(false);
    const showModal = ref(false);
    const handleModal = () => {
      const nextShowModal = (showModal.value = !showModal.value);
      showModal.value = nextShowModal;
    };
    // setTimeout(() => {
    //   isLoading.value = false;
    // }, 5000);
    return { isLoading, showModal, handleModal, sortBy, dataSortered };
  },
};
</script>