<template>
  <section class="promo">
      <div class="container">
          <h1 class="title">My SSR Blog on Nuxt.JS!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquam, beatae dicta soluta rem accusamus accusantium obcaecati ipsum, officia, magnam ullam reiciendis quisquam dolores vel veritatis. Expedita ad fugit fuga!</p>
      </div>
  </section>
</template>

<script>

</script>

<style lang="scss">
.promo {
    text-align: center;
    p{
        color: #999999;
    }
}
</style>
