<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <div class="wrapper">
      <div id="app" class="container">
        <div style="margin-bottom: 10px">
          <h1>{{title}}</h1>
          <small
            >Подсказка: редактирование - двойной щелчок мышью по элементу;<br />
            сохранение - щелкнуть мышью в любом другом месте или нажать клавишу
            "tab"</small
          >
        </div>
        <div>
          <form @submit.prevent="onSubmit">
            <input
              type="text"
              required
              v-model="input.value"
              :placeholder="input.placeholder"
            />
            <button type="submit">Add new note</button>
          </form>
        </div>

        <div class="notes">
          <div class="note" v-for="(note, index) in notes" :key="index">
            <p>
              <span
                @click="remove(index)"
                class="item-action-icon button-border"
                >&#10005;</span
              >
              <input
                type="text"
                :readonly="readOnly"
                :value="note"
                :id="index"
                @dblclick="onEdit"
                @blur="onSave"
                class="item-text no-outline"
              />
            </p>
          </div>
        </div>
        <hr style="margin-top: 10px" />
      </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
