<template>
  <newPostForm @submit="onSubmit" :postEdit="post" />
</template>
<script>
import newPostForm from "~/components/admin/NewPostForm";
import axios from "axios";
export default {
  components: {
    newPostForm,
  },
  layout: "admin",
  asyncData(context) {
    return axios
      .get(
        "https://blog-nuxt-59e6b-default-rtdb.firebaseio.com/posts/" +
          context.params.postId +
          ".json"
      )
      .then((response) => {
        return {
          post: { id: context.params.postId, ...response.data },
        };
      })
      .catch((e) => context.error(e));
  },
  methods: {
    onSubmit(post) {
      console.log("Post editing!");
      this.$store.dispatch("editPost", post).then(() => {
        this.$router.push("/admin");
      });
    },
  },
};
</script>