<template>
    <div class="wrapper">
    <div class="wrapper-content">
      <section>
        <div class="container">
          <button
            class="btn btnPrimary"
            @click="modalFirst = !modalFirst"
          >Show First Modal</button>

          <!-- first modal-->
          <Modal
            v-show="modalFirst"
            title="First modal"
            @close="modalFirst = false"
          >
            <div slot="body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ipsam, dolores. Nostrum magnam rem, eaque quibusdam
                repellat beatae cupiditate omnis optio commodi sapiente
                aspernatur, consequuntur tempora quos eius inventore atque
                mollitia!</p>
              <hr>
              <button
                class="btn btnPrimary"
                @click="modalFirst = false"
              >Close</button>
            </div>
          </Modal>
          <hr>
          <!-- second modal-->
          <button
            class="btn btnPrimary"
            @click="modalSecond.show = !modalSecond.show"
          >Show Second Modal</button>
          <Modal
            v-show="modalSecond.show"
            title="Second modal (with form)"
            @close="modalSecond.show = false"
          >
            <div slot="body">
              <form action="" @submit.prevent="submitSecondForm">
                <label>Name:</label>
                <input type="text" required v-model="modalSecond.name" />

                <label>Email:</label>
                <input type="email" required v-model="modalSecond.email" />
                <hr>
                <button class="btn btnPrimary">Submit</button>
              </form>
            </div>
          </Modal>
          <hr>
          <!-- modal validate -->
          <button class="btn btnPrimary" @click="modalValidate = true">Show Modal Validate</button>
          <ModalValidate v-show="modalValidate" @close="modalValidate = false">
          </ModalValidate>
          <hr>
          <!-- Домашнее задание - комоненты Авторизации и Регистрации пользователя -->
          <button class="btn btnPrimary" @click="showAuthModal = true">Домашнее задание</button>
          <AuthModal v-show="showAuthModal" @close="showAuthModal = false"></AuthModal>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Modal from '@/components/UI/Modal.vue';
import ModalValidate from '@/components/ModalValidate.vue';
import AuthModal from '@/components/Auth/AuthModal.vue';

export default {
  name: 'App',
  components: {
    Modal,
    ModalValidate,
    AuthModal
  },
  data() {
    return {
      modalFirst: false,
      modalValidate: false,
      showAuthModal: false,
      modalSecond: {
        show: false,
        name: '',
        email: '',
      },
    }
  },
  methods: {
    submitSecondForm() {
      const data = {name: this.modalSecond.name, email: this.modalSecond.email}
      console.log(data);
      this.clearSecondForm();
      this.exitSecondModal();
    },
    clearSecondForm() {
      this.modalSecond.name = '';
      this.modalSecond.email = '';
    },
    exitSecondModal() {
      this.modalSecond.show = false;
    }
  }
}
</script>

<style>
</style>
