<template>
  <div class="wrapper">
    <div class="wrapper-content">
      <section>
        <div class="container">
          <div id="app">
            <div>
              <div>
                <h1>Notes Vuex</h1>
              </div>
              <div>
                <img
                  src="@/assets/placeholder.com-logo1.png"
                  alt="logo"
                  width="100%"
                  height="50px"
                />
              </div>
            </div>
            <Message v-if="message" :message="message" />
            <hr />
            <SelectStatusMessage
              :setStatus="selectedStatus"
              @changeStatus="changeStatus"
            />
            <NewNote :note="note" @addNote="addNote" />
            <hr />
            <div class="note-header" style="margin: 36px 0;">
              <h1>{{ title }}</h1>
              <Search :value="search" @search="search = $event" />
              <div class="icons">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  :class="{ active: grid }"
                  @click="grid = true"
                  style="cursor: pointer;"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <rect x="3" y="3" width="7" height="7"></rect>
                  <rect x="14" y="3" width="7" height="7"></rect>
                  <rect x="14" y="14" width="7" height="7"></rect>
                  <rect x="3" y="14" width="7" height="7"></rect>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  :class="{ active: !grid }"
                  @click="grid = false"
                  style="cursor: pointer;"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <line x1="8" y1="6" x2="21" y2="6"></line>
                  <line x1="8" y1="12" x2="21" y2="12"></line>
                  <line x1="8" y1="18" x2="21" y2="18"></line>
                  <line x1="3" y1="6" x2="3" y2="6"></line>
                  <line x1="3" y1="12" x2="3" y2="12"></line>
                  <line x1="3" y1="18" x2="3" y2="18"></line>
                </svg>
              </div>
            </div>
            <Notes :notes="notesFiltered" :grid="grid" @remove="removeNote" />
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Message from "@/components/Message.vue";
import NewNote from "@/components/NewNote.vue";
import Notes from "@/components/Notes.vue";
import Search from "@/components/Search.vue";
import SelectStatusMessage from "@/components/SelectStatusMessage.vue";

export default {
  components: {
    Message,
    NewNote,
    Notes,
    Search,
    SelectStatusMessage,
  },
  data() {
    return {
      title: "Notes App",
      message: "",
      search: "",
      grid: true,
      note: {
        title: "",
        description: "",
        status: 0,
      },
      notes: [],
      statusArray: [
        {
          value: 0,
          name: "Normal",
        },
        {
          value: 1,
          name: "Warning",
        },
        {
          value: 2,
          name: "Danger",
        },
      ],
      selectedStatus: 0,
    };
  },
  computed: {
    notesFiltered() {
      const search = this.search.trim().toLowerCase();
      const array = this.notes;
      return search
        ? array.filter(
            (item) => item.title.toLowerCase().indexOf(search) !== -1
          )
        : array;
    },
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      const url = "https://jsonplaceholder.typicode.com/posts";
      const response = await fetch(url);
      const posts = response.ok ? await response.json() : [];
      const postsToNotes =
        posts.length != 0 ? this.convertPostsToNotes(posts) : [];
      this.$store.dispatch("setInitial", postsToNotes);
      this.notes = this.$store.getters.getNotes;
    },
    resetParams() {
      this.note.title = "";
      this.note.description = "";
      this.selectedStatus = 0;
    },
    changeStatus($event) {
      this.selectedStatus = $event;
    },
    addNote() {
      this.message =
        this.note.title == "" || this.note.description == ""
          ? "Заголовок/Содержание не должно быть пустым"
          : null;
      if (!this.message) {
        this.notes.push({
          title: this.note.title,
          description: this.note.description,
          status: this.selectedStatus,
          date: new Date(Date.now()).toLocaleString(),
        });
      }
      this.resetParams();
    },
    removeNote(index) {
      this.notes.splice(index, 1);
    },
    getRandomIntInclusive(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1)) + min; //Максимум и минимум включаются
    },
    convertPostsToNotes(posts) {
      return posts.map((post) => ({
        title: post.title.substr(0, 15),
        description: post.body,
        date: new Date(Date.now()).toLocaleString(),
        status: this.getRandomIntInclusive(0, 2),
      }));
    },
  },
};
</script>
