.btn {
    display: inline-block;
    padding: 0.8em 2em;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;

    // default btn
    &.btnDefaul {
        color: #ffffff;
        border: 1px solid #333333;
        background-color: #333333;
    }

    // primiry btn
    &.btnPrimary {
        color: #ffffff;
        border: 1px solid #494ce8;
        background-color: #494ce8;
    }

    // danger btn
    &.btnDanger {
        color: #ffffff;
        border: 1px solid hsl(0, 48%, 48%);
        background-color: #b53f3f;
    }

    &.btnWhite {
        color: #333333;
        border: 1px solid #ffffff;
        background-color: #ffffff;
    }
}
