<template>
  <div id="app">
    <default-questions />
  </div>
</template>

<script>
export default {
  name: "App",
  components: {
    DefaultQuestions: () => import("@/components/Questions.vue"),
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
