<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div class="wrapper">
        <div id="app">
            <div class="app__header">
                {{ priority.title }} - {{ priority.value }}
            </div>
            <br />
            <div class="app__body">
                <button v-if="priority.value > 0" @click="down">{{buttons.prev.title}}</button>
                <button @click="up">{{buttons.next.title}}</button>
            </div>
        </div>

        <script>
            const App = {
                methods: {
                    down() {
                        this.priority.value -= 1;
                    },
                    up() {
                        this.priority.value += 1;
                    },
                },
                data() {
                    return {
                        priority: {
                            title: "Priority",
                            value: 0,
                        },
                        buttons: {
                            prev: {
                                title: "Down",
                            },
                            next: {
                                title: "Up",
                            },
                        },
                    };
                },
            };
            Vue.createApp(App).mount("#app");
        </script>
</body>

</html>